* {
  box-sizing: border-box;
}

body {
  background: #333;
  padding: 0;
  margin: 0;
  overflow: hidden;
}

.game-container {
  position: relative;
  width: 90vw;
  height: 50vh;
  margin: 0 auto;
  outline: 1px solid #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1%;
}

.game-container canvas {
  width: 100%;
  height: 100%;
  image-rendering: pixelated;
}

.controls-container {
  position: absolute;
  margin-top: 5%;

  left: 50%;
  transform: translateX(-50%);
  display: grid;
  grid-template-areas:
    " .  up  . "
    "left  .  right"
    " . down  . ";
  gap: 10px;
}

/* Media Query for Mobile Devices */
@media (min-width: 757px) {
  .controls-container {
    display: none; /* Hide controls on screens wider than 756px */
  }
}

@media (max-width: 757px) {
  .game-container {
    width: 98vw;
    height: 50vh;
    margin: auto;
  }
}

.control {
  display: flex;
  justify-content: center;
  align-items: center;
}

.up-control {
  grid-area: up;
}

.down-control {
  grid-area: down;
}

.left-control {
  grid-area: left;
}

.right-control {
  grid-area: right;
}

button {
  width: 130px;
  height: 130px;
  background: #fff;
  border: none;
  outline: none;
  font-size: 35px;
  cursor: pointer;
  touch-action: none; /* Prevent double-tap zoom */
}

button:hover {
  background: #ddd;
}
