.ConsoleScreen {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-image: url(/images/tardis/tardis-screen.png);
  background-size: cover;
  image-rendering: pixelated;
}

.tardis_status {
  color: gold;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(10%, -60%);
}
