:root {
  --border-color: #291d4d;
  --dialog-background: #291d4d;

  --menu-background: #ffe8d2;
  --menu-background-dark: #e6d0c0;
  --menu-border-color: #a48465;
  --menu-font-color: #3a160d;
  --menu-selected-background: #7fc2ff;
}

* {
  box-sizing: border-box;
}

body {
  background: #333;
  padding: 0;
  margin: 0;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; /* Column direction for vertical alignment */
  height: 100vh;
  font-family: "Ribeye", cursive;
}

.game-container {
  position: relative;
  width: 352px; /* Original width */
  height: 198px; /* Original height */
  margin: 0 auto;
  top: 0;
  outline: 1px solid #fff;
  transform: scale(3) translateY(-50%);

  transform-origin: top;
}

.largeContainer {
  width: 440px;
  height: 247px;
  transform: scale(3) translateY(-30%);
}

.game-container canvas {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  image-rendering: pixelated;
}

.options-container {
  padding: 20px;
}

/* Option button styling */
.option-button {
  background-color: #007bff;
  border-radius: 5px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  touch-action: none; /* Prevent double-tap zoom */
  user-select: none; /* Prevent text selection */
  -webkit-user-select: none; /* Prevent text selection for Safari */
  -moz-user-select: none; /* Prevent text selection for Firefox */
  -ms-user-select: none; /* Prevent text selection for IE */
}

.pauseButton {
  position: absolute;
  left: 1em;
  bottom: 4em;
  background-color: rgb(255, 0, 234);
}
.actionButton {
  position: absolute;
  right: 1em;
  bottom: 15em;
  background-color: green;
}

.sonicButton {
  position: absolute;
  left: 10svw;
  bottom: 38svh;
  padding: 15px;
  background-color: blue;
  display: block;
}

.sonicShootButton {
  position: absolute;
  right: 10svw;
  bottom: 38svh;
  padding: 15px;
  background-color: darkcyan;
  display: block;
}

.option-button button {
  width: 100%;
  padding: 15px;
  border: none;
  background: transparent;
  color: #fff;
  font-size: 16px;
  text-align: center;
  cursor: pointer;
}

.controls-container {
  position: absolute;
  bottom: 7px;
  left: 45%;
  transform: translateX(-50%);
  display: none;
  grid-template-areas:
    " .  up   . "
    "left  .  right"
    " .  down   . ";
  gap: 10px;
}

/* Show controls-container on mobile devices */
@media (max-width: 768px) {
  .keyboard-display {
    display: none !important;
  }
  .controls-container {
    display: grid;
  }

  .game-container {
    width: 90svw;
    transform: scale(1.1) translateY(-60%); /* Adjust the scale for mobile */
    margin-top: 4svh; /* Move the game container closer to the top */
  }

  .control-button {
    width: 60px;
    height: 60px;
    font-size: 20px;
  }
  .pauseButton {
    bottom: 20svh;
  }
  .actionButton {
    bottom: 20svh;
  }
}

/*  Hide keboard controls if it gets too small vertically */
@media (max-height: 600px) {
  .keyboard-display {
    display: none !important;
  }
}

.control {
  display: flex;
  justify-content: center;
  align-items: center;
}

.up-control {
  grid-area: up;
}

.down-control {
  grid-area: down;
}

.left-control {
  grid-area: left;
}

.right-control {
  grid-area: right;
}

.control-button {
  background: #fff;
  border: none;
  outline: none;
  font-size: 35px;
  cursor: pointer;
  touch-action: none; /* Prevent double-tap zoom */
  user-select: none; /* Prevent text selection */
  -webkit-user-select: none; /* Prevent text selection for Safari */
  -moz-user-select: none; /* Prevent text selection for Firefox */
  -ms-user-select: none; /* Prevent text selection for IE */
  -webkit-tap-highlight-color: transparent; /* Remove tap highlight on mobile */
}

.control-button:hover {
  background: #ddd;
}

.keyboard-display {
  position: absolute;
  top: 75svh;
  height: 20svh;
  display: grid;
  grid-template-columns: repeat(5, 50px);
  grid-template-rows: 50px 50px;
  justify-content: center;
  gap: 30px;
  font-size: 16px;
  background-color: rgba(0, 0, 0, 0.7); /* Semi-transparent background */
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

.keyboard-display .key {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.2); /* Slightly transparent white */
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 5px;
  padding: 20px;
}

.keyboard-display .key .key-label {
  font-family: "Roboto Mono", monospace;
  font-size: 24px;
  font-weight: bold;
  color: #fff; /* White text for contrast */
}

.keyboard-display .key .key-description {
  font-size: 12px;
  color: #ddd; /* Light gray text for description */
}

/* Specific positioning for the keys */
.key-w {
  grid-column: 3;
  grid-row: 1;
}
.key-a {
  grid-column: 2;
  grid-row: 2;
}
.key-s {
  grid-column: 3;
  grid-row: 2;
}
.key-d {
  grid-column: 4;
  grid-row: 2;
}
.key-q {
  grid-column: 2;
  grid-row: 1;
}
.key-e {
  grid-column: 4;
  grid-row: 1;
}
