:root {
  --border-color: #291d4d;
  --dialog-background: #291d4d;

  --menu-background: #ffe8d2;
  --menu-border-color: #a48465;
  --menu-font-color: #3a160d;
  --menu-selected-background: #7fc2ff;
}

* {
  box-sizing: border-box;
}

body {
  background: #333;
  padding: 0;
  margin: 0;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100svh;
}

.game-container {
  position: relative;
  width: 70vw; /* Default width based on viewport */
  max-width: 800px; /* Maximum width */
  min-width: 352px; /* Minimum width to match original size */
  height: 50vh; /* Default height based on viewport */
  max-height: 450px; /* Maximum height */
  min-height: 198px; /* Minimum height to match original size */
  padding-top: 0; /* Reset padding-top as height is now used */
  outline: 1px solid #fff;
  aspect-ratio: 352 / 198; /* Maintain aspect ratio */
  margin-bottom: 20vh;
}

.game-container canvas {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  image-rendering: pixelated;
}

.controls-container {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  display: none;
  grid-template-areas:
    " .  up  . "
    "left  .  right"
    " . down  . ";
  gap: 10px;
}

/* Show controls-container on mobile devices */
@media (max-width: 768px) {
  .controls-container {
    display: grid;
  }

  .game-container {
    width: 90vw;
    height: auto; /* Adjust height based on aspect ratio */
    padding-top: 0;
    aspect-ratio: 352 / 198; /* Maintain aspect ratio */
    margin-bottom: 40vh; /* Move the game container closer to the top */
  }

  .control-button {
    width: 80px;
    height: 80px;
    font-size: 20px;
  }
}

.control {
  display: flex;
  justify-content: center;
  align-items: center;
}

.up-control {
  grid-area: up;
}

.down-control {
  grid-area: down;
}

.left-control {
  grid-area: left;
}

.right-control {
  grid-area: right;
}

.control-button {
  background: #fff;
  border: none;
  outline: none;
  font-size: 35px;
  cursor: pointer;
  touch-action: none; /* Prevent double-tap zoom */
  user-select: none; /* Prevent text selection */
  -webkit-user-select: none; /* Prevent text selection for Safari */
  -moz-user-select: none; /* Prevent text selection for Firefox */
  -ms-user-select: none; /* Prevent text selection for IE */
}

button:hover {
  background: #ddd;
}
