.HudUI {
  position: relative;
  width: 200px;
  height: 46px;
  margin: 0;
}

.HudUI p {
  margin: 0;
}

.HudContainer {
  position: absolute;
  top: 0;
  left: 0;
  width: 42%;
  height: 150%;
  margin-top: 0;
}

.HudUI_Background_Img {
  position: relative;
  top: -10px;
  left: 0;
  width: 67%;
  height: 100%;
  opacity: 0.95;
}

.HudUI_Elements {
  position: absolute;
  top: 4%;
  left: 0;
  padding: 15% 9%;
  width: 100%;
  height: 100%;
  margin-top: 0;
  display: grid; /* Enables grid layout */
  grid-template-columns: repeat(4, 1fr); /* Creates 3 equal columns */
  gap: 0; /* Optional: adds a gap between the columns */
}

.HudUI_p_name {
  position: absolute;
  font-family: "DoctorWho2", sans-serif;
  font-size: x-small;
  left: 2%;
  margin: 0;
}

.HudUI_p {
  position: absolute;
  top: 0%;
  left: 0%;
}

.HudUI canvas {
  image-rendering: pixelated; /* Ensure sharp pixel rendering */
  image-rendering: crisp-edges; /* Safari */
  image-rendering: -moz-crisp-edges; /* Firefox */
  image-rendering: -webkit-optimize-contrast; /* Chrome, Safari */
  image-rendering: -o-crisp-edges; /* Opera */
  image-rendering: optimize-contrast; /* CSS3 Draft */
}
.HudUI img {
  image-rendering: pixelated !important; /* Most browsers */
  image-rendering: crisp-edges; /* Safari and some older browsers */
  image-rendering: -moz-crisp-edges; /* Firefox */
  image-rendering: -webkit-optimize-contrast; /* Chrome, Safari, Opera */
  image-rendering: -o-crisp-edges; /* Opera */
  image-rendering: optimize-contrast; /* CSS3 Draft */
  -ms-interpolation-mode: nearest-neighbor; /* IE */
}
.HudUI_img {
  position: relative;
  width: 20px;
  height: 20px;
  /*border: 1px solid goldenrod;*/
  border-radius: 50%; /* Make the image circular */
  object-fit: cover; /* Ensure the image covers the area */
  z-index: 22;
}
.HudUI_img:hover {
  border: 1px solid gold;
  transform: scale(1.2);
  transform-origin: center;
}

.HudUI_sonic {
  position: relative;
  width: 200%;
  height: 100%;
  display: flex;
  flex-direction: row;
  z-index: 20;
}

.HudUI_sonic_img {
  position: relative;
  width: 20px;
  height: 20px;
  /*border: 1px solid green;*/
  border-radius: 50%; /* Make the image circular */
  object-fit: cover; /* Ensure the image covers the area */
}

.HudUI_sonic_img:hover {
  border: 1px solid lightgreen;
  transform: scale(1.2);
}
.HudUI_sonic_mode_div {
  position: relative;
  width: 90px;
  padding: 2px 8px;
}
.HudUI_sonic_mode_p {
  background-color: antiquewhite;
  position: relative;
  font-family: "DoctorWho2", sans-serif;
  font-size: 8px;
  font-weight: bold;
  color: rgb(83, 153, 83);
  /* a */
  /* text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
    1px 1px 0 #000; */
}

.SonicHudUI {
  position: absolute;
  background-color: antiquewhite;
  opacity: 0.7; /* 50% opacity for the entire element */
  width: 45%;
  height: auto;
  margin-top: 6%;
  left: 50%;
  border: 1px solid greenyellow;
  border-radius: 10px;
  font-family: "DoctorWho2", sans-serif;
  font-size: x-small;
  display: flex;
  flex-direction: column;
  padding: 5px 15px;
}

.SonicHudUI p {
  margin-left: 10%;
  margin-bottom: 10%;
}
.SonicHudUI p:hover {
  background-color: lightgreen;
}

.SonicHudUI_title {
  border-bottom: 1px solid black;
  width: 100%;
}

.SonicHudUI_option {
  font-size: xx-small;
  border-left: 1px solid black;
  border-radius: 2px;
}
.SonicHudUI_option:hover {
  border-left: 2px solid purple;
  border-radius: 5px;
}

.PlayerHudUI {
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(
    250,
    235,
    215,
    0.7
  ); /* Semi-transparent antiquewhite */
  width: 80%;
  height: 80%;
  border: 2px solid #8b4513; /* #cd853f; */
  outline: 1px solid black;
  border-radius: 1px;
  font-family: "DoctorWho2", sans-serif;
  font-size: x-small;
  display: flex;
  flex-direction: column;
  margin: 6%;
  z-index: 21;
}

.PlayerHudUI_header {
  position: relative;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.PlayerHudUI_header_option {
  opacity: 1;
  color: #222;
  font-size: x-small;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
  padding: 3px;
  border-bottom: 2px solid #444;
}

.PlayerHudUI_header_option:hover {
  color: whitesmoke;
  background-color: #444;
  opacity: 0.7;
  border-bottom: 2px solid whitesmoke;
}

.PlayerHudUI_header_option.active {
  background-color: grey; /* Highlight color for the active item */
  color: #fff;
  font-weight: bold;
  border-bottom: 2px solid whitesmoke;
}

.InvatoryScreen {
  position: relative;
  opacity: 1;
  margin: 0px auto;
  width: 90%;
  height: 70%;
  border-radius: 2px;

  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.boxInvatory-cream {
  position: relative;
  background-color: rgba(
    250,
    235,
    215,
    0.7
  ); /* Semi-transparent antiquewhite */
  opacity: 0.7;
  width: 60%;
  height: 50%;
  border: 2px solid #8b4513; /* #cd853f; */
  outline: 1px solid black;
  border-radius: 1px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2); /* Adds a subtle shadow for depth */
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* Creates 3 columns for items */
  grid-template-rows: repeat(4, 1fr); /* Creates 4 rows for items */
  gap: 5%; /* Space between inventory slots */
  box-sizing: border-box;
  padding: 1%;
  margin: auto;
  margin-top: 5%;
  font-size: 0.2em;
  font-weight: bold;
  /*font-family: "DoctorWho" sans-serif;*/
  /*font-family: "Roboto Mono", monospace;*/
}
/* Empty grid cell placeholder to keep lines visible */
.empty {
  background-color: rgba(
    255,
    255,
    255,
    0.1
  ); /* Very light color to keep grid cell visible */
  border: 1px solid black; /* Still show borders for empty cells */
}
/* Grid cell style */

.boxInvatory-blue {
  position: relative;
  opacity: 0.7;
  width: 60%;
  height: 50%;
  font-family: "DoctorWho", sans-serif;
  border-radius: 1px;
  background-color: whitesmoke;
  border: 3px solid rgb(255, 136, 0); /* Cream Border */
  box-sizing: border-box; /* Ensures padding/border are included in element's total width/height */
  outline: 1px solid rgb(56, 56, 255); /* Outer Black Border */
}

.InvatoryScreen_playerImg {
  position: relative;
  opacity: 2;
  width: auto;
  height: 100%;
  object-fit: cover;
  margin: auto 0px;
  image-rendering: pixelated !important;
}

.inventory-box {
  position: relative;
  width: 80%;
  height: 90%;
  background-color: rgba(
    245,
    245,
    220,
    0.8
  ); /* Cream-like background with transparency */
  border: 2px solid goldenrod;
  border-radius: 3px;
  padding: 1% 1%;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2); /* Adds a subtle shadow for depth */
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* Creates 3 columns for items */
  grid-template-rows: repeat(4, 1fr); /* Creates 4 rows for items */
  gap: 5%; /* Space between inventory slots */
  box-sizing: border-box;
  margin: 2% auto;
  margin-left: 15px;
}

.InvatoryScreen_container {
  opacity: 1;
  margin: 10px auto;
  width: 20%;
  height: 20%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 1px;
}

.InvatoryScreen_item {
  position: relative;
  width: 100%;
  height: 100%;
  border-radius: 2px;
  cursor: grab;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
}

.grid-item {
  position: relative;
  background-color: rgba(
    255,
    255,
    255,
    0.8
  ); /* Light background for grid cells */
  border: 1px solid black; /* Visible black border to simulate inventory grid lines */
  min-height: 5%;
  min-width: 2%;
  cursor: pointer;
}

.InvatoryScreen_item:hover {
  background-color: blanchedalmond;
}

.InvatoryScreen_item_img {
  width: auto;
  height: auto;
  image-rendering: pixelated !important;
  pointer-events: none;
  margin: auto;
}
.InvatoryScreen_item_text {
  font-family: "DoctorWho2", sans-serif;
  font-size: 0.5rem;
  font-weight: bold;
  margin: auto;
}

.ParentInvatoryDiv {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  margin: auto;
}

.InvatoryScreen_playerInv {
  position: relative;
  margin: auto;
  margin-top: 5%;
  width: 85%;
  height: 20%;
  opacity: 0.7;
  background-color: aliceblue;
  border: 2px solid #8b4513; /* #cd853f; */
  outline: 1px solid black;
  border-radius: 1px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2); /* Adds a subtle shadow for depth */
  display: grid;
  grid-template-columns: repeat(12, 1fr); /* Creates 3 columns for items */
  gap: 2%; /* Space between inventory slots */
  box-sizing: border-box;
  padding: 1%;
  font-size: 0.2em;
  font-weight: bold;
  /*font-family: "DoctorWho" sans-serif;*/
  font-family: "Roboto Mono", monospace;
}

.InvatoryScreen_playerInv .InvatoryScreen_item {
  flex-direction: column;
  padding: 1%;
}

.InvatoryScreen_addScreen {
  position: absolute;
  background-color: #444;
  top: 10%;
  left: 20%;
  width: 60%;
  height: 60%;
  border-radius: 2px;
  border: 1px solid black;
}

.buttonContainer {
  position: relative;
  width: 100%;
  height: 40%;
  display: flex;
  flex-direction: row;
  margin: 20% auto;
  gap: 15%;
}

.InvatoryScreen_addButton {
  font-size: 0.3rem;
  border: 1px solid black;
  width: 50%;
  height: auto;
  background-color: green;
  /*margin: 20% auto; */
  border: 1px solid black;
  text-align: center; /* Center text horizontally */
  line-height: 100%; /* Adjust to center text vertically */
  display: flex; /* Flexbox to align content properly */
  justify-content: center; /* Center content horizontally */
  align-items: center; /* Center content vertically */
  white-space: nowrap; /* Prevent text from wrapping */
  overflow: hidden; /* Ensure no text overflow */
  text-overflow: ellipsis; /* Ellipsis for overflowing text */
}

.InvatoryScreen_noButton {
  font-size: 0.3rem;
  border: 1px solid black;
  width: 50%;
  height: auto;
  background-color: red;
  /*margin: 20% auto;*/
  border: 1px solid black;
  text-align: center; /* Center text horizontally */
  line-height: 100%; /* Adjust to center text vertically */
  display: flex; /* Flexbox to align content properly */
  justify-content: center; /* Center content horizontally */
  align-items: center; /* Center content vertically */
  white-space: nowrap; /* Prevent text from wrapping */
  overflow: hidden; /* Ensure no text overflow */
  text-overflow: ellipsis; /* Ellipsis for overflowing text */
}

/*
.MapScreen {
  opacity: 1;
  margin: 10px auto;
  width: 100%;
  height: 100%;
  border: 2px solid black;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
  */
.MapScreen {
  position: relative;
  opacity: 1;
  margin: 0px auto;
  width: 90%;
  height: 70%;
  border: 1px solid black;
  border-radius: 2px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.MapScreen_img {
  width: 100%;
  height: 100%;
}

.CraftingScreen {
  position: relative;
  opacity: 1;
  margin: 0px auto;
  width: 95%;
  height: 70%;
  border-radius: 2px;

  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.crafting-container {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: rgba(
    245,
    245,
    220,
    0.8
  ); /* Cream-like background with transparency */
  border: 2px solid goldenrod;
  border-radius: 3px;
  padding: 1% 1%;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2); /* Adds a subtle shadow for depth */
  display: grid;
  grid-template-columns: repeat(5, 1fr); /* Creates 3 columns for items */
  grid-template-rows: repeat(5, 1fr); /* Creates 4 rows for items */
  gap: 5%; /* Space between inventory slots */
  box-sizing: border-box;
  margin: 2% auto;
  margin-top: 0;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.crafting-item {
  position: relative;
  height: 100%;
  height: 16px;
}

.crafting-container .InvatoryScreen_item {
  height: 100%;
}

/*
.craftingSubScreen {
  position: relative;
  bottom: 100%;
  left: 70%;
  width: 100%;
  height: 300%;
  background-color: rgb(255, 136, 0);
  background-color: rgba(250, 235, 215);
  z-index: 20;
  border: 1px solid black;
  border-radius: 1px;
  overflow: auto;
}
  */

.craftingSubScreen {
  position: absolute;
  width: 50%;
  height: 100%;
  background-color: rgba(250, 235, 215);
  z-index: 20;
  border: 1px solid black;
  border-radius: 1px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.craftingSubScreen_title {
  border-bottom: 1px solid black;
  font-size: 0.5rem;
  margin: 0 5%;
  text-align: center;
}

.recipeItemContainer {
  position: relative;
  display: flex;
  flex-direction: row;
  width: 90%;
  height: 35%;
  margin-left: 5%;
}

.craftingSubScreen_item_container {
  position: relative;
  margin-left: 5%;
  margin-top: 5%;
}
.craftingSubScreen_recipeImg {
  width: 16px;
  height: 16px;
  image-rendering: pixelated !important;
}

.craftingSubScreen_p {
  margin: 0 5%;
  margin-top: 5%;
}

.craftingSubScreen_recipe {
  margin: 0 5%;
  margin-top: 5%;
  font-size: 0.4rem;
}

.craftingSubScreen_craftButton {
  position: relative;
  width: 60%;
  height: 20%;
  background-color: rgb(51, 116, 13);
  border-radius: 3px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.5);
  font-size: 0.4rem;
  margin: 0 20%;
  margin-top: 5%;
}

.hidden {
  display: none; /* Hide the element */
}

.visible {
  display: block; /* Show the element */
}

@media (max-width: 700px) {
  .boxInvatory-cream {
    position: absolute;
    top: 20%;
    left: 20%;
    width: 70%;
    height: 60%;
    padding: 1%;
    font-size: 0.3em;
  }
  .PlayerHudUI {
    margin-left: 14%;
    /*left: 35%;*/
  }
  .HudUI {
    width: 35svw;
    height: 10svh;
  }
  .HudContainer {
    width: 80%;
    height: 100%;
  }
  .HudUI_Elements {
    width: 100%;
    height: 100%;

    gap: 5%;
  }
  /* .HudUI_p_name {
    font-size: medium;
    left: 7%;
    margin: 0;
  } */
  .HudUI_img {
    transform: scale(1.1);
    transform-origin: center;
  }
  /*  Remove effects from desktop */
  /* .HudUI_img:hover {
    border: 1px solid gold;
    transform: scale(2);
    transform-origin: center;
  } */

  .HudUI_sonic_img {
    transform: scale(1.1);
    transform-origin: center;
  }

  /* .HudUI_sonic_mode_p {
    font-size: 0.5em;
    color: blue;
    margin-top: 15% !important;
    left: 30%;
  } */

  .HudUI_sonic_mode_p {
    font-size: 0.45em;
    font-weight: bolder;
    padding: 2% 0;
  }

  .SonicHudUI {
    width: 30svw !important;
    margin-top: 15% !important;
    left: 40% !important;
  }
  .SonicHudUI_title {
    margin-left: 25%;
    width: 90% !important;
  }
  .SonicHudUI_option {
    font-size: x-small;
    font-weight: bold;
    border: 0;
    border-bottom: 1px solid black;
  }
}
