.HudUI {
  position: relative;
  width: 15svw;
  height: 5svh;
  border: 1px solid black;
  margin: 2px;
}

.HudUI p {
  margin: 0;
}

.HudUI_p_name {
  position: absolute;
  font-family: "DoctorWho2", sans-serif;
  font-size: x-small;
  left: 2%;
  margin: 0;
}

.HudUI_p {
  position: absolute;
  top: 0%;
  left: 0%;
}

.HudUI canvas {
  image-rendering: pixelated; /* Ensure sharp pixel rendering */
  image-rendering: crisp-edges; /* Safari */
  image-rendering: -moz-crisp-edges; /* Firefox */
  image-rendering: -webkit-optimize-contrast; /* Chrome, Safari */
  image-rendering: -o-crisp-edges; /* Opera */
  image-rendering: optimize-contrast; /* CSS3 Draft */
}
.HudUI img {
  image-rendering: pixelated !important; /* Most browsers */
  image-rendering: crisp-edges; /* Safari and some older browsers */
  image-rendering: -moz-crisp-edges; /* Firefox */
  image-rendering: -webkit-optimize-contrast; /* Chrome, Safari, Opera */
  image-rendering: -o-crisp-edges; /* Opera */
  image-rendering: optimize-contrast; /* CSS3 Draft */
  -ms-interpolation-mode: nearest-neighbor; /* IE */
}
.HudUI_img {
  position: absolute;
  margin-top: 6%;
  left: 2%;
  width: 16px;
  height: 16px;
  border: 1px solid goldenrod;
  border-radius: 50%; /* Make the image circular */
  object-fit: cover; /* Ensure the image covers the area */
}

.HudUI_sonic {
  position: absolute;
  margin-top: 6%;
  left: 15%;
}

.HudUI_sonic_img {
  position: relative;
  width: 16px;
  height: 16px;
  border: 1px solid green;
  border-radius: 50%; /* Make the image circular */
  object-fit: cover; /* Ensure the image covers the area */
  z-index: 20;
}

.HudUI_sonic_img:hover {
  border: 1px solid lightgreen;
}

.HudUI_sonic_mode_p {
  position: relative;
  font-family: "DoctorWho2", sans-serif;
  font-size: 0.2em;
  font-weight: bold;
}

.SonicHudUI {
  position: absolute;
  background-color: antiquewhite;
  opacity: 0.7; /* 50% opacity for the entire element */
  width: 45%;
  height: auto;
  margin-top: 6%;
  left: 15%;
  border: 1px solid greenyellow;
  border-radius: 10px;
  font-family: "DoctorWho2", sans-serif;
  font-size: x-small;
  display: flex;
  flex-direction: column;
  padding: 5px 15px;
}

.SonicHudUI p {
  margin-left: 10%;
  margin-bottom: 10%;
}
.SonicHudUI p:hover {
  background-color: lightgreen;
}

.SonicHudUI_title {
  border-bottom: 1px solid black;
  width: 100%;
}

.SonicHudUI_option {
  font-size: xx-small;
  border-left: 1px solid black;
  border-radius: 2px;
}
.SonicHudUI_option:hover {
  border-left: 2px solid purple;
  border-radius: 5px;
}

.hidden {
  display: none; /* Hide the element */
}

.visible {
  display: block; /* Show the element */
}

@media (max-width: 700px) {
  .HudUI {
    width: 30svw;
    height: 10svh;
  }
  .HudUI_p_name {
    font-size: medium;
    left: 7%;
    margin: 0;
  }
  .HudUI_img {
    margin-top: 20%;
    left: 13%;
    transform: scale(2); /* Scales the image to 2x its size */
    transform-origin: center; /* Ensures the scaling happens from the center */
  }

  .HudUI_sonic_img {
    margin-top: 20%;
    left: 50%;
    transform: scale(2);
    transform-origin: center;
  }

  .HudUI_sonic_mode_p {
    font-size: 0.5em;
    color: blue;
    margin-top: 15% !important;
    left: 30%;
  }

  .HudUI_sonic_mode_p {
    font-size: 0.7em;
    color: blue;
  }

  .SonicHudUI {
    width: 30svw !important;
    margin-top: 15% !important;
    left: 40% !important;
  }
  .SonicHudUI_title {
    margin-left: 25%;
    width: 90% !important;
  }
  .SonicHudUI_option {
    font-size: x-small;
    font-weight: bold;
    border: 0;
    border-bottom: 1px solid black;
  }
}
