.overlayMenu {
  position: absolute;
  left: 4.5em;
  top: 1em;
  right: 4.5em;
  background: var(--menu-background);
  color: var(--menu-font-color);
  border: 1px solid var(--menu-border-color);
  z-index: 2;
  padding-left: 4px;
  padding-right: 4px;
  padding-bottom: 4px;
}

.overlayMenu .KeyboardMenu {
  position: relative;
  border: 0;
}

.overlayMenu h2 {
  font-size: 10px;
  color: var(--menu-font-color);
  margin: 0;
  padding: 2px 0;
  text-align: center;
  border-bottom: 1px solid #a48465;
}

.SonicMenu {
  padding: 0;
}

.SonicMenu .Menu {
  position: absolute;
  left: 20%;
  top: 40%;
  width: auto;
  height: auto;
  color: var(--menu-font-color);
  z-index: 2;
  border-radius: 1.5px;
  background-color: inherit;
  border: inherit;
}

.blue {
  background-color: rgba(173, 216, 230, 0.7);
  border: 2px solid green;
}

.green {
  background-color: rgba(144, 238, 144, 0.7);
  border: 2px solid green;
}

.SonicMenu .optionButton {
  font-family: "DoctorWho2", sans-serif;
  font-size: 0.6rem;
  width: 100%;
  border: 2px solid black;
  border-radius: 0px;
  padding: 0;
  margin: 0;
  transition: background-color 0.3s;
}
.SonicMenu .optionButton:hover {
  background-color: green;
}

.SonicMenu .menu-title {
  margin: 0;
}

.sonic-menu-data-header {
  display: flex;
  flex-direction: row;
  border: 1px solid black;
  border-bottom: 3px solid black;
  border-radius: 5px;
  padding: 3px;
  background-color: beige;
}

.sonic-menu-data-header-backBtn {
  height: 10%;
  font-family: "DoctorWho2", sans-serif;
  font-size: 5px;
  background-color: red;
  padding: 2px;
  margin-right: 20%;
}

.menu-data-title {
  font-family: "DoctorWho2", sans-serif;
  font-size: 15px;
  color: goldenrod;
  margin: 0;
  text-align: center;
  padding-bottom: 10px;
  position: relative;
}

.sonic-menu-data-container {
  height: 100%;
  border: 1px solid black;
  border-top: 3px solid black;
  border-radius: 5px;
  padding: 3px;
  background-color: beige;
}

.sonicDataElement {
  font-family: "DoctorWho2", sans-serif;
  font-size: 0.6rem;
  color: goldenrod;
}

@media (max-width: 700px) {
  .SonicMenu {
    left: 11em;
    top: 1em;
    right: 1em;
  }
}
