.TextMessage {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 5svh;
  font-size: 1rem;
  padding: 0.5rem;
  background: var(--menu-background);
  border-top: 1px solid var(--menu-border-color);
  color: var(--menu-font-color);
}

.TextMessage_p {
  margin: 0;
  font-size: 1rem;
}

.TextMessage span {
  opacity: 0;
}

.TextMessage span.revealed {
  opacity: 1;
}

.TextMessage_button {
  margin: 0;
  height: 70%;
  font-size: 0.6rem;
  padding: 0.1rem;
  background: var(--menu-background);
  --webkit-appearance: none;
  background: none;
  font-family: inherit;
  cursor: pointer;
  border-radius: 0.3rem;
  position: absolute;
  right: 0.5rem;
  bottom: 0;
}
.TextMessage_button:hover {
  background: var(--menu-background-dark);
}
